table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 2px solid black;
}

thead, tbody, tr, td, th { display: block; }

tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

thead th { 
    height: 50px;
    line-height: 30px;
    /*text-align: left;*/
}

tbody {
    height: 350px;
    overflow-y: auto;
}

thead {
    /* fallback */
    width: 97%;
    /* minus scroll bar width */
    width: calc(100% - 17px);
}

/*tbody { border-top: 2px solid black; }*/

tbody td, thead th {
    width: 33.33%;
    float: left;
    border-right: 1px solid black;
}

tbody td:last-child, thead th:last-child {
    border-right: none;
}

.fa.disabled,
.fa[disabled],
.disabled > .fa,
[disabled] > .fa {
    color:lightgray;
  opacity: 1;
  /*optional*/ cursor: not-allowed;
  /*optional*/ pointer-events: none;
}

.fa {
    cursor: pointer;
}